# ----------
# SHORTCUTS: work on both platform
# ----------

# Shell aliases
alias la='ls -lah'

# Git aliases
alias gs='git status'
alias gc='git clone'
alias ga='git add'
alias gdf='git log -p -m --follow -1'
alias gps='git push'
alias gpl='git pull'
alias gcmsg='git commit -m'
alias gcane='git commit --amend --no-edit'
alias gl='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit'
alias glg='git log --graph --oneline --decorate --all'

# Show git log by author
glp() {
  git log --author=$1 --all
}

# Get group id from group name: gid <group_name>
gid() {
  getent group $1 | cut -d: -f3
}

# Find all files that are owned by one user and chown them to another user: mpwnr <dir> <from_user/uid> <to_user/uid>
mpwnr() {
  find $1 -user $2 -exec chown -h $3 {} \;
}

# Remove all .DS_Store recursively: dstrm [dir]
dstrm() {
  if [[ $# -eq 0 ]]; then
    find . -name ".DS_Store" -print -delete
  else
    find $1 -name ".DS_Store" -print -delete
  fi
}

# Remove all node_modules recursively: ndmrm [dir]
ndmrm() {
  if [[ $# -eq 0 ]]; then
    find . -type d -name "node_modules" -print0 -exec rm -rf {} +
  else
    find $1 -type d -name "node_modules" -print0 -exec rm -rf {} +
  fi
}

# Remove all .sync-conflict files recursively
sycfrm() {
    find . -name "*.sync-conflict*" -print0 -exec rm -rf {} +
}

# Show disk usage 1 level depth sorted by size: dubs [dir]
dubs() {
  if [[ $# -eq 0 ]]; then
    sudo du -hx --max-depth=1 | sort -h
  else
    sudo du -hx --max-depth=1 $1 | sort -h
  fi
}

# Update dotfiles: udotf ['reset']
udotf() {
  cwd=$(pwd)
  cd $HOME/dotfiles
  if [[ $1 == "reset" ]]; then
    git reset --hard main
  fi
  gpl
  stow -v -t $HOME */
  cd $cwd
}